{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

<head>
{% block head %}

    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="NONE,NOARCHIVE" />
    <link rel="icon" href="{% static "favicon.png" %}" type="image/png" />
    {% endblock %}

    <title>{% block title %}{% if name %}{{ name }}{% else %}AnemIO{% endif %}{% endblock %}</title>

    {% block style %}
    {% block bootstrap_theme %}
        <!-- <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/> -->
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}" />
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
    {% if code_style %}<style>{{ code_style }}</style>{% endif %}
    {% endblock %}

{% endblock %}
</head>

{% block branding %}
    <a class="navbar-brand" rel="nofollow" href="#">
        {% trans 'AnemIO Weather Station API' %}
    </a>
{% endblock %}
